@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Joan&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Ibarra+Real+Nova&family=Joan&family=Mochiy+Pop+One&family=Playfair+Display:wght@500;700&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Ibarra+Real+Nova&family=Joan&family=Mochiy+Pop+One&family=Playfair+Display:wght@500;700&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@700&display=swap');

/* @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) { */

* {
    box-sizing: border-box;
}
/* NAVBAR MENU */
.navbar {
    background:none;
}
.navbar-brand {
    font-size: 2.5em !important;
    font-weight: 700 !important;
    font-family: 'Mochiy Pop One', sans-serif !important;
    white-space: pre-wrap;
    
}
.collapse {
    font-family: 'Mochiy Pop One', sans-serif !important;  
}
.nav-item a {
    font-size: 2em;
}
.nav-link {
    color:#0dcaf0 !important;
}
.dropdown-item {
    background:none !important;
}
.nav-link:hover {
    letter-spacing: 0.3em;
    color:blueviolet !important;   
}
.fa-brands {
    font-size: 3em;
    color:blueviolet;
}
.fa-solid {
    font-size: 3em;
    color:gray;

}
.fa-brands:hover {
    color:#895e97
}
.fa-solid:hover {
    color:#895e97
}
.right {
    align-items: center;
    justify-content: center;
}
li {
    list-style-type: none;
}


/* HOME MENU */
.home h3 {
    position: relative;
    padding:3em;
    display:block;  
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-size: 4em;
    font-weight: 700;
    margin-bottom:0;
    color: whitesmoke;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
section {
    margin-top: 0 !important;
    padding-top:1em !important;
}
.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: 2;
}
.showcase nav {
    position:absolute;
    margin-top: 0;
    top:0;
    left:0;
    width: 100%;
    padding:1em 2em;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #018cff;
    mix-blend-mode: overlay;
}
.text {
    position: relative;
    padding:4em;
    margin-bottom:5em;
    display:block;  
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-family: 'Poppins', sans-serif;
}
.text h2 {
    font-size: 5em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}
.text h3 {
    font-size: 4em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}
.text p {
    font-size: 1.5em;
    color: #fff;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}
.text a {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
}
.text a:hover {
    letter-spacing: 6px;
}

/* ABOUT MENU */
.about h3 {
    position: relative;
    padding: 1em;
    display: block;  
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-size: 3em;
    font-weight: 700;
    color: whitesmoke;
    line-height: 1em;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.carousel {
    height: 100%;
    width: 50vw;
}
.carousel-item {
    height:75%;
    min-height:300px;
    background:no-repeat scroll center scroll;
    -webkit-background-size:cover;
    background-size: cover;
}
.carousel-item::before {
    content:"";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
}
.carousel-caption {
    max-height: 99%;
    min-height: 1%;
    bottom:180px;
    padding-left:10%;
    padding-right:10%;
}
.carousel-caption h5 {
    font-size: 3em;
    font-weight: 700;
}
.carousel-caption p {
    font-size: 2em;
    top:2em;
    font-family: 'Joan', serif;
}

/* RESUME MENU */
.resume h3 {
    position: relative;
    padding:4em;
    margin-top: 2em;
    display:block;  
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-size: 3em;
    font-weight: 700;
    color: whitesmoke;
    line-height: 1em;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.info {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
}
/* CONTACT MENU */
.responsive {
    width: 100%;
    height: auto; 
}
.container {
    border-radius: 5px;
    background-image: url(/Jennywest715/img/theodor-vasile-y5WLkDYTwS0-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 20px;
    padding-top:1em;
    width:50vw;
    height: 100%;
    z-index: 10;
}
.container h3 {
    font-size: 2em;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.container label {
    margin-top: 1em;
    position: relative;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.form-range {
    background-image:linear-gradient(
        90deg,
        hsl(179deg 100% 50%) 0%,
        hsl(171deg 100% 48%) 11%,
        hsl(156deg 79% 58%) 22%,
        hsl(127deg 61% 63%) 33%,
        hsl(89deg 57% 52%) 44%,
        hsl(67deg 100% 36%) 56%,
        hsl(50deg 100% 37%) 67%,
        hsl(37deg 100% 42%) 78%,
        hsl(24deg 100% 47%) 89%,
        hsl(5deg 100% 50%) 100%)
}
.music {
    position: relative;
    margin:5em;
}
.accordion-button {
    font-size:inherit;
    z-index: 10;
    font-family: 'Mochiy Pop One', sans-serif;
}
.footer {
    position: relative;
    display:inline-flex;
    justify-content: space-around;
    margin-top: 4em;
    margin-bottom: 0;
    padding: 25px;
    width:100%;
    height: auto;
    bottom:0;
    font-weight: 700;
    font-family: 'Poppins', sans-serif !important;
}
.footer h5 {
    color:white !important;
}
h4 {
    color:white !important;
}