@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Joan&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Ibarra+Real+Nova&family=Joan&family=Mochiy+Pop+One&family=Playfair+Display:wght@500;700&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Ibarra+Real+Nova&family=Joan&family=Mochiy+Pop+One&family=Playfair+Display:wght@500;700&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@700&display=swap');

/* @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) { */

.navbar-brand {
    font-size: 3rem !important;
    font-weight: 700 !important;
    font-family: 'Mochiy Pop One', sans-serif !important;
    
}
.collapse {
    font-family: 'Mochiy Pop One', sans-serif !important;
    
}
.navbar-dark {
    height:7rem;
}
.nav-link {
    color:#0dcaf0 !important;
}
.nav-link:hover {
    color:blueviolet !important;   
}
.fa-brands {
    font-size: 3rem;
    color:blueviolet;
}
.fa-solid {
    font-size: 3rem;
    color:gray;

}
.fa-brands:hover {
    color:#895e97
}
.fa-solid:hover {
    color:#895e97
}
.right {
    align-items: center;
    justify-content: center;
}
.home h3 {
    position: relative;
    padding:3rem;
    display:block;  
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom:0;
    color: whitesmoke;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
section {
    margin-top: 0 !important;
    padding-top:1rem !important;
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}
.showcase nav{
    position:absolute;
    margin-top: 0;
    top:0;
    left:0;
    width: 100%;
    padding:1rem 2rem;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  padding:10rem;
  margin-bottom:9rem;
  display:block;  
  justify-content: center;
  align-items: center;
  z-index: 10;
  font-family: 'Poppins', sans-serif;
}

.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 1.5em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}
.about h3{
  position: relative;
  padding:3rem;
  display:block;  
  justify-content: center;
  align-items: center;
  z-index: 10;
  font-size: 3rem;
  font-weight: 700;
  color: whitesmoke;
  line-height: 1em;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}
.carousel-item {
    height:75%;
    min-height:300px;
    background:no-repeat scroll center scroll;
    -webkit-background-size:cover;
    background-size: cover;
}
.carousel-item::before{
    content:"";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
}
.carousel-caption{
    bottom:180px;
    padding-left:100px;
    padding-right:100px;
}
.carousel-caption h5{
    font-size: 4rem;
    font-weight: 700;
}
.carousel-caption p{
    font-size: 2rem;
    top:2rem;
    font-family: 'Joan', serif;
}
.resume h3{
    position: relative;
    padding:3rem;
    margin-top: 4rem;
    display:block;  
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-size: 3rem;
    font-weight: 700;
    color: whitesmoke;
    line-height: 1em;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.info {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;

}
.responsive {
    width: 100%;
    height: auto; 
}
.contact {
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border:round;
    margin: 5rem;
    border-radius: 5px;
    background-image: url(/Jennywest715/img/theodor-vasile-y5WLkDYTwS0-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 20px;
    width:50%;
    height: 40rem;
    z-index: 10;
}
.contact h3 {
    font-size: 3rem;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.contact label {
    position: relative;
    display: flex;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
}
.contact input {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}
.music {
    margin:5rem;
}
.accordion-button {
    font-size:inherit;
    z-index: 10;
    font-family: 'Mochiy Pop One', sans-serif;
}


.footer {
    position: absolute;
    display:inline-flex;
    justify-content: space-around;
    margin-top: 4rem;
    margin-bottom: 0;
    padding: 25px;
    width:100%;
    height: auto;
    bottom:0;
    font-weight: 700;
    font-family: 'Poppins', sans-serif !important;
}
.footer h5 {
    color:black !important;
}
h4 {
    color:black !important;
}
.nav-item a {
    font-size: 2rem;
}
